*{box-sizing: border-box;}
#mydialog {
    border: 1px solid grey;
    border-radius: 8px;
    width: 90%;
    box-shadow: 8 8 10px rgb(67, 67, 60) ;
}

#mydialog div {
    display: grid;
    grid-template-columns: auto 44px;
    /* background-color: rgb(225, 217, 217); */
    padding: 5px;
    /* margin: 0; */
    border-bottom: grey 1px solid;
}
#mydialog h2 {
    margin: 0;
    color: #0c618b;
}
#mydialog p {
    padding: 10px;
    color: black;
}

#mydialog button {
    margin: 0;
    border: 1px solid rgba(8,8,0,0.23);
    border-radius: 5px;
    box-shadow: 8 8 10px rgb(67, 67, 60) ;
}
#closeButton {
    background-color: violet;
}

::backdrop {
    background-color: rgba(227, 225, 225, 0.5);
}