/* Container and Background */
.thank-you-container {
    padding: 4rem 1rem;
    background-color: var(--bg-primary);
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The Result Card */
.confirmation-card {
    background-color: var(--card-bg); 
    max-width: 650px;
    width: 100%;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: var(--shadow);
    border-top: 8px solid #f97316; 
    text-align: center;
}

.check-icon {
    font-size: 3rem;
    color: var(--accent);
    background: rgba(152, 96, 0, 0.07);
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    margin: 0 auto 1.5rem;
    animation: fadeIn 0.7s 0.4s both;
}

.confirmation-card h1 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    font-weight: 900;
    margin-bottom: 1.5rem;
    background: linear-gradient(to right, #f97316, #ef4444, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 1.5;
    animation: fadeIn 0.7s 0.3s both;
}

.dark-theme .confirmation-card h1 {
    background: linear-gradient(to right, #fb923c, #f87171, #f9a8d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.intro-text {
    font-size: clamp(1.125rem, 2vw, 1.5rem);
    max-width: 768px;
    margin: 0 auto 3rem;
    font-weight: 500;
    animation: fadeIn 0.7s 0.4s both;
}

.light-theme .intro-text {
    color: #374151;
}

.dark-theme .intro-text {
    color: #d1d5db;
}

/* Results */
#results {
    margin: -1rem;
    text-align: left;
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    animation: fadeIn 0.7s 0.4s both;
}

.dark-theme #results {
    background:  #374151;
}

#results p {
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.dark-theme #results p {
    border-bottom: 1px solid #616976;
    color: #d1d5db;
}


#results p:last-child {
    border-bottom: none;
}

/* Buttons */
.back-btn {
    margin-top: 2rem;
    width: 40%;
}



