/* ============================================ */
/* HERO & DIRECTORY HEADER                      */
/* ============================================ */
.hero-directory {
    position: relative;
    width: 100%;
    background: url("../../images/banners/main1.webp") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--ink);
    padding: 2rem;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--primary);
    opacity: 0.7;
    z-index: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.hero-text {
    text-align: center;
    max-width: 500px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.hero-text h1 {
    margin: 0;
    line-height: 0.9;
}

/* Container & Grid */
.home-content {
    max-width: var(--maxw);
    margin: 1rem auto 2rem;
    padding: 0 1rem;
}

.page-title h2 {
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 900;
    color: var(--accent3);
}

.container-grid {
    display: flex;
    flex-direction: column; /* Stacked on mobile */
    gap: 1.5rem;
    padding-bottom: 2rem;
}

/* Cards */
.card-title {
    margin: 0;
    padding: .75rem 1rem;
    background: linear-gradient(to right, var(--accent1), var(--accent));
    color: #fff;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--border);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .card1 

.card1, .card2, .card3 {
    /* border-radius: var(--radius); */
    overflow: hidden;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);    
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    /* margin: 10px 0;            */
}



/* ============================================ */
/*  BADGES & RESPONSIVENESS                     */
/* ============================================ */
@media (min-width: 768px) {
    .view-toggle {
        display: block;
        margin: 1rem auto;
        text-align: center;
    }


    .container-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    }

}


/* .silver { border-top: 5px solid #C0C0C0 !important; }
.gold { border-top: 5px solid #FFD700 !important; }
.member { border-top: 5px solid var(--accent); } */