/* Form Container Styling */

main {
padding: 0;
}

.form-body{
    max-width: 600px;
    margin: 1rem 0;
    padding: 1.3rem;
    background-color: var(--accent4); 
    border-radius: 8px;
    box-shadow: var(--shadow);
    color: var(--ink);
}

/* Label Styling (Encasing the inputs) */
form label {
    display: block;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: var(--ink2); /* Soft Teal for labels */
    font-size: 0.9rem;
}

/* Input, Select, and Textarea Styling */
input[type=text],
input[type=tel],
input[type=email],
form select,
form textarea {
    display: block;
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: 1px solid rgb(206, 204, 204); /* Darker Teal Border */
    border-radius: 4px;
    background-color: var(--ink); /* White background for readability */
    color: var(--ink2); /* Black text */
    font-family: inherit;
    transition: border-color 0.3s, box-shadow 0.3s;
    border-left-width: 5px;
    border-left-color:#555;
}

input:required {border-left-color: #d70000;}
input:focus {border-left-color: black; outline:none;}
input:required:valid{border-left-color: green;}


/* Focus States */

/* Textarea specific */
form textarea {
    height: 120px;
    resize: vertical;
}

/* Submit Button Styling */
.form-actions {
    max-width: 600px;
    margin: 2rem auto;
    padding: 0;
    color: var(--ink);
}
form input[type="submit"] {
    width: 100%;
    background: linear-gradient(to right, var(--accent1), var(--accent));
    color: var(--ink);
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 1px;
    border: 2px solid transparent;
    
    /* Smoothness */
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

form input[type="submit"]:hover {
    border-color: var(--accent2);
    transform: translateY(-3px); /* Lifts the button */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


@media (max-width: 480px) {
    form {
        padding: 1rem;
        margin: 1rem;
    }
}