/* Root Library - Stays global */
:root {
    --nav: #000000;
    --header: #019877;
    --footer: #101727;
    --accent: #04836E;
    --accent1: #009865;
    --accent2: #6fc5b2;
    --bg: ;
    --card1: ;
    --card2: ;
    --ink: #ffffff;
    --border: ;
    --radius: 12px;
    --shadow: 0 1px 3px rgba(255, 255, 255, 0.537), 0 6px 18px rgba(240, 237, 237, 0.06);
    --maxw: 1100px;
    --link: ;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fff;
    color: #222;
}

header {
    /* background: linear-gradient(to right, var(--accent1), var(--header)); */
    /* color: var(--footer); */
    padding: 2rem;
    text-align: center;
}

.header-bar {
    background: rgba(22, 50, 13, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 20;
}

.header-flex {
    display: flex;
    gap: 0.5rem;
}

.logo-container {
    background-color: var(--accent);
    border-radius: 8px;
    padding: 0.5rem;
    /* align-content: center; */
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

h1, h2, h3 {
    font-family: "Inter", sans-serif;
}

header .tagline {
    font-size: 1.1rem;
    margin-top: 0.5rem;
}


main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}


h2 {
    color: #000;
    border-bottom: 2px solid var(--footer);
    padding-bottom: 0.3rem;
}

h3 {
    color: var(--ink);
    /* padding-bottom: -2rem; */
}

ul, ol {
    margin-left: 1.5rem;
}
/* Social & Footer */
.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.social-icons a {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    /* color: #ffffff; */
    text-decoration: none;
    backdrop-filter: blur(12px);
    transition: all 0.3s ease;
    border: none;
    font-size: 2rem;
    
}

.social-icons a:hover {
    background-color: var(--accent);
    color: var(--ink2);
    transform: translateY(-3px);
    border: none;
} 

/* This part helps me manipulate the color and size of the svg */
.social-icons img {
    filter: brightness(0) invert(1);
    width: 50px;
}


footer {
    /* display: grid; */
    background: var(--footer);
    color: #ffffff;
    text-align: left;
    padding: 1rem;
    margin-top: 8rem;
}


footer a {
    color: #E0DED1;
    text-decoration: none;
    font-style: oblique;
}

 .lastmod {
    color: var(--accent2);
    font-weight: 300;
    letter-spacing: .2px;
} 
