.card {
    /* border: 1px solid black; */
    background-color: rgb(36, 160, 112);
    /* border-radius: 10px 60px 30px; */
    text-align: center;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .card figure {
    padding: -8rem;
} */

.card h2 {
    color: rgb(172, 240, 228);
    margin-bottom: -1rem;
}

.card #desc{
    text-transform: capitalize;
    color: aliceblue;
    margin: -1rem 0;
}

.card #current-temp{
    font-size: 2rem;
    color: aliceblue;
    margin-bottom: -0.5rem ;
}

@media (min-width: 768px) {
    .card {

        background-color: black;
        justify-content: flex-end;
        flex-direction: row;
    }


        .card #current-temp{
        font-size: 2rem;
        color: aliceblue;
        margin-right: 1rem;
        margin-bottom: -0.5rem ;
    }
}